/*
Colors
#000000
#333333
#AAAAAA
#9b4dca
#F8C555
*/
.wf-loading * {
  opacity: 0;
  height: 100%;
  overflow: hidden;
}

.wf-active *,
.wf-inactive * {
	-webkit-transition: opacity 0.50s ease-out;
	-moz-transition: opacity 0.50s ease-out;
	-o-transition: opacity 0.50s ease-out;
	transition: opacity 0.50s ease-out;
}

body {
  font-family: KoHo, sans-serif;
  font-weight: 400;
}

ol { list-style-type: none; }
h1 a { text-decoration: none; }
h2 a { text-decoration: none; }
h3 a { text-decoration: none; }
h4 a { text-decoration: none; }
h5 a { text-decoration: none; }

a:hover {
  text-decoration: none;
}

.header {
  padding: 16px;
  font-family: 'Pattaya', monospace;
}

.header h1 { text-align: center; }
.header a { color: #000000; }
.header a:hover { color: #333333; }
nav {
  display: flex;
  justify-content: center;
}

nav > ul > li {
  display: inline;
  text-align: center;
}

nav > ul > li a {
  font-weight: 600;
  padding: 0 16px;
  display: inline-block;
}

.page-title {
  text-align: center;
}

.article-title { color: #9b4dca; }

.article-date {
  color: #AAAAAA;
  font-weight: 500;
}

.article-list-item-container { margin-bottom: 52px; }

.article-list-actions {
  display: flex;
  justify-content: flex-end;
}

.article-actions {
  display: flex;
  justify-content: center;
}

.avatar-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar-container {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 24px;
}

img.avatar {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.avatar-container .description {
  font-size: 0.8em;
  text-align: center;
  width: 85%;
}

.social-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.social-container a { margin-bottom: 16px; }

.tag-list { display: none; }
.tag-item { display: inline; }

.tag-item a {
  text-decoration: none;
  border: 1px solid #AAAAAA;
  border-radius: 2px;
  padding: 0 8px;
}

.tag-item a:hover { background-color: #f8c555; }

img.post-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 100%;
}

code { border: none; }

footer { height: 200px; }

@media (min-width: 400px) {
  .social-container {
    width: 65%;
    flex-direction: row;
  }
}

@media (min-width: 550px) {
  .social-container {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .tag-list { display: block; }
}

@media (min-width: 1000px) {
  img.post-image {
    width: 75%;
  }
}