---
layout: layout.njk
---
{% set maxPosts = collections.posts.length %}
<div class="hero"></div>
<div class="container">
  <div class="row post-list">
    <div class="column">
      {% set postList = collections.posts %}
      {% include 'post-list.njk' %}
    </div>
  </div>
</div>